# TODO: par défaut, si pas de fichier de conf, en mode apprentissage et création du fichier
# sur base d'un meta-template.
# TODO: --build=file  pour apprentissage (ou verbe utilisé dans AppArmor)
# TODO: ajouter un niveau de log dédié, puis tous logger dessus
# TODO: --no-dotenv
# TODO: --firejail=file.template
# TODO: --dns=1.1.1.1,4,4,4,4

# Why a python sandbox ?
# =======================
# Using a tool by an LLM is equivalent to making a Remote Procedure Call (RPC).
# This poses a risk of misuse. To mitigate this, placing the tool in a sandbox
# environment helps limit accesses to minimal privileges.

#######################################################################################
# Using a Python sandbox is a good idea, but it does not guarantee that an application
# cannot escape it via compiled code, direct access to the kernel API, etc.
# It is recommended to supplement this with an additional sandbox level, relying on
# the capabilities of the OS (namespace).
# Various implementations are available, selected according to the application's
# deployment constraints. For example, it is not always possible to use these advanced
# tools if the application itself runs in a standard Docker container without specific
# privileges.
# Use the --os-sandbox parameter to select the technology from among:
# - subprocess (default): Use a subprocess to invoke sandboxed functions
# - firejail : A utility that allows you to restrict access to disks, networks,
#   capacity, system calls, etc.

#--os-sandbox=task
#--os-sandbox=subprocess
--os-sandbox=firejail
--py-sandbox=False

#######################################################################################
# Select some variables for the sandbox
# The --set-env option is used to set environment variables that will be visible within
# the sandbox.
# The syntax allows you to:
#
# 1. Assign a fixed value to an environment variable:
#    --set-env VAR_NAME=value
#    This sets VAR_NAME to value within the sandbox.
#
# 2. Assign a value based on the environment outside the sandbox, with an optional
#    default value if needed,
#    using a syntax similar to bash:
#    --set-env VAR_NAME=${OUTSIDE_VAR:=default_value}
#    This sets VAR_NAME to the value of OUTSIDE_VAR from the environment outside the
#    sandbox. If OUTSIDE_VAR is not set, it uses default_value.
#
# 3. Replicate the values of variables that match a specific naming pattern:
#    --set-env VAR_*=${VAR_*}
#    This replicates all environment variables from outside the sandbox that match the
#    pattern VAR_* into the sandbox.
#
# By using --set-env, you can control and manage the environment variables available
# within your sandbox, ensuring that your applications have the necessary configuration.

--set-env=HOME=.
--set-env=USER=pysandbox
--set-env=VIRTUAL_ENV*=${VIRTUAL_ENV_*}
--set-env=LC_*=${LC_*}
--set-env=LANG=${LANG}
--set-env=LD_LIBRARY_PATH=${LD_LIBRARY_PATH}
--set-env=TMP=/tmp
--set-env=TEMP=/tmp
--set-env=*_API_KEY=${*_API_KEY}
--unset-env=OPENAI_API_KEY


#######################################################################################
# In a sandbox, it is crucial to prohibit access to certain file patterns
# that contain confidential data (e.g., .*). Additionally, it is important to
# limit write access to specific directories or to mount a restricted number
# of directories that are accessible within the sandbox.
# The syntax --ignore=<glob_pattern> allows excluding certain files when using
# Python file APIs. The syntax --bind=<target_dir>:<src_dir> maps a directory outside
# the sandbox to a directory visible inside the sandbox (which must exist).
# Additionally, --bind-ro does the same but limits access to the sandbox as read-only.
#
# Ignores somes files
# Warning, --ignore .* rule exclude the .venv directory !
# Use another name for the virtualenv
--ignore=.env
--ignore=*.log
--ignore=*.py  # All code must be pre-compiled (pyo)

# Binds the current directory to the root of the sandbox
# TODO: vérifier les impacts écritures. Est-ce bien visible ?
--rw-bind=${PWD},${PWD} # FIXME: ajout à cause de sys.path. Conflit si rw ?
--ro-bind=${PYENV_ROOT},${PYENV_ROOT}
--ro-bind=${VIRTUAL_ENV},${VIRTUAL_ENV}

#######################################################################################
# Network rules management strategy:
# There are two strategies: "allow" and "deny".
#
# By default, all connections are denied.

# Denied localhost
# FIXME --net=DENY|tcp|127.0.0.1/8|*|IN

# Allow web access, intranet and localhost
--net=ALLOW|tcp|0.0.0.0/0|443|OUT  # Can call HTTPS services
#--net=ALLOW|tcp|0.0.0.0/0|80|OUT  # Can call HTTP services

# TODO: filtrer le dns ?
--net=ALLOW|udp|0.0.0.0/0|53|OUT  # Can call all DNS services
--net=ALLOW|udp|0.0.0.0/0|53|IN

# Deny locahost
#--net=DENY|tcp|127.0.0.0/32|*|IN

# Allow a specific port in ${PORT} or 8000 to locahost
#--net=ALLOW|tcp|127.0.0.0/32|${PORT:=8000}|IN

# Denied intranet
--net=DENY|any|10.0.0.0/8|*|OUT
--net=DENY|any|169.254.0.0/16|*|OUT
--net=DENY|any|172.16.0.0/12|*|OUT
--net=DENY|any|192.168.0.0/16|*|OUT
--net=DENY|any|fc00::/7|*|OUT  # ULA
--net=DENY|any|fe80::/64|*|OUT # Link-Local

#######################################################################################
# Limit python features in the sandbox
#--python-api=ALLOW:threads
#--python-api-import=ALLOW:numpy.*,pandas.*

#######################################################################################
# Limit syntax and features when executing python code (very useful for controlling
# LLM-generated code)
#--python-exec-provider=interpreter
#--python-exec-import=ALLOW:threads
#--python-exec=ALLOW:annotations,async,class,def

