
# OpenAI
#MODEL=gpt-4o-mini
#API_URL=https://api.openai.com/v1/chat/completions
#API_KEY=sk-1234567890

# Grok
MODEL=grok-4-fast-non-reasoning
API_URL=https://api.x.ai/v1/chat/completions
API_KEY=gsk_1234567890
